.contacts {
  background-color: $color2;
}

.contacts__block {
  padding-bottom: 40px;
}

.contacts__header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  min-height: 138px;
}

.contacts__title {
  padding: 0;
  margin: 0;
  font-family: $font;
  color: $font-color-alt;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 20px;
  padding-left: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: $white;
    left: 12px;
    top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: $color1;
    left: -5px;
    top: 5px;
  }
}

@media (min-width: $big-mobile) {
  .contacts__title {
    padding-left: 55px;

    &::before {
      left: 40px;
    }

    &::after {
      left: 15px;
    }
  }
}

@media (min-width: $desktop) {
  .contacts__title {
    padding-left: 75px;
    padding-bottom: 40px;

    &::before {
      left: 55px;
    }

    &::after {
      left: 25px;
    }
  }
}
