.header {
  background-image: url("../img/bg-index.jpg");
  background-color: #222;
  background-size: cover;
  min-height: 500px;
  padding-top: 20px;
  padding-bottom: 60px;
  position: relative;

  &--design {
    background-image: none;
    background-color: transparent;
    z-index: 11;
    min-height: 0;
    padding: 0;
  }
}

.header__wrap-container {
  position: relative;
  width: 215px;
  margin-left: auto;
  margin-right: auto;
}

.header__container {
  position: absolute;
  top: 20px;

  .header__menu-btn {
    right: -40px;
  }
}

.header__menu-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 18px;
  top: 0;
  right: 20px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #222;
    box-shadow: 0 8px 0 0 #222, 0 16px 0 0 #222
  }

  &--white {
    &::before {
      background-color: #ffffff;
      box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
    }
  }
}
