.name {
  padding-bottom: 15px;
  width: 215px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  z-index: 10;
}

.name__link {
  color: $font-color;
  text-decoration: none;
  position: relative;
}

.name__person {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $font-color;
  position: relative;
  padding-bottom: 5px;
}

.name__first {
  padding-right: 45px;
}

.name__logo {
  position: absolute;
  top: 0;
  left: 56px;
}

.name__description {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.6);
}

.name--white {
  .name__link {
    color: $font-color-alt;
  }

  .name__description {
    color: $font-color-alt;
    opacity: 0.6;
  }
}

