$font: "Geometria", "Arial", "sans-serif";

$white: #ffffff;
$black: #000000;

$color-text: $white;
$color-text-alt: #2d2d2d;

$color1: #08e8de;
$color2: #c32727;
$color3: #242424;
$color4: #3f454b;
$color5: #28c4bd;

$color6: #eaeaea;
$color7: #777777;
$color8: #0e1114;
$color9: #00b2b0;
$color10: #07c6bf;
$color11: #168681;

$mobile: 320px;
$tablet: 768px;
$desktop: 1230px;
$big-desktop: 1440px;

$main-spacing: 0.48px;
