$font: "Lato", "Arial", "sans-serif";
$secondfont: "GothamPro", "Arial", "sans-serif";

$white: #ffffff;
$black: #000000;

$font-color: $black;
$font-color-alt: $white;

$mobile: 320px;
$big-mobile: 420px;
$tablet: 767px;
$desktop: 1024px;
$big-desktop: 1366px;
$large-desktop: 1920px;


$color1: #f10000;
$color2: #424242;
$color3: rgba(196, 196, 196, 0.05);
$color4: rgba(255, 255, 255, 0.5);
