.wrapper {
  width: $mobile;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media (min-width: $tablet) {
  .wrapper {
    width: $tablet;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop) {
  .wrapper {
    width: $desktop;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;

    &--nowrap {
      width: 100%;
    }
  }
}
